* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0px;
}

.app {
    min-height: 100vh;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    padding-top: 12rem;
}

.app__todos {
    width: 70%;
}

.todos {
    /* padding: 3rem; */
    background-color:bisque ;
    font-size: 2rem;
    border-radius: 10px 10px 0px 0px;
}

.todos__header {
    font-size: 2.5rem;
    /* background-color: burlywood; */
    /* border-radius: 10px; */
    
}

.todos__title {
    font-size: 4.4rem;
    font-weight: 700;
    padding: 2.5rem 0 2.5rem 0;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    background-color: rgb(185, 46, 46);
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}



.todos__form {
    display: flex;
}

.todos__form__field {
    height: 45px;
    width: 91%;
    /* max-width: 80%; */
    /* border: 1px solid #bbb; */
    border: none;
    background: rgb(20, 20, 100);
    color: wheat;
    /* border-radius: 5px; */
}

.todos__form__field:hover {
    background: rgb(26, 26, 129);
}

.todos__form__field:focus {
    outline: none;
    background-color: rgb(52, 52, 204);
}

.todos__form--btn {
    height: 45px;
    width: 9%;
    background-color: rgb(26, 124, 59);
    border:none;
    font-size: 3.5rem;
    cursor: pointer;
}

.todos__form--btn:hover {
    font-size: 4.2rem;
    background-color: rgb(33, 156, 74);
}

.todos__info {
    display: flex;
}

.todos__counter {
    height: 45px;
    width: 34%;
    color: rgb(47, 13, 80);
    background-color: grey;
    margin: 0px;
    line-height: 45px;
}

.todos__del--btn {
    font-size: 1.5rem;
    height: 45px;
    width: 22%;
    color: white;
    background-color: rgba(255, 0, 0, 0.856);
    /* border: 1px solid blanchedalmond;
    border-radius: 5px; */
    border: none;
    position: relative;
}

.todos__show1--btn {
    font-size: 1.5rem;
    height: 45px;
    width: 22%;
    color: white;
    background-color: rgba(255, 0, 0, 0.568);
    border: none;
}

.todos__show2--btn {
    font-size: 1.5rem;
    height: 45px;
    width: 22%;
    color: white;
    background-color: rgba(255, 0, 0, 0.336);
    border: none;
}

.todos__del--btn:hover, .todos__show1--btn:hover, .todos__show2--btn:hover {
    cursor: pointer;
    font-size: 1.6rem;
    background-color: rgb(165, 39, 39);
}

.todos__list {
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
}

.todos__line {
    height: 1px;
    width: 100%;
    background-color: grey;
    margin: 2px 0 2px 0;
}

.todos__todo {
    min-height: 35px;
    line-height: 35px;
    display: flex;
    position: relative;
}

.todos__checkbox {
    width: 20px;
    height: 20px;
    background-color: olive;
}

.todos__todo__text {
    width: 90%;
}

.todo__del--btn {
    background-color:red;
    border: none;
    cursor: pointer;
    margin: 0;
    /* width: 100%; */
    height: 25px;
    border-radius: 50% 50%;

}

.flex {
    /* width: 5%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

@media (max-width: 1031px) {
    .todos__counter {
        font-size: 2.0rem;
    }
}

@media (max-width: 730px) {
    .todos__counter {
        font-size: 1.5rem;
    }
}

@media (max-width: 540px) {
    html {
        font-size: 8px;
    }
    
}

@media (max-width: 540px) {
    html {
        font-size: 6px;
    }
    
}

@media (max-width: 325px) {
    html {
        font-size: 5px;
    }
    
}